.img-div {
    display: flex;
    justify-content: center;
}

img {
    width: 400px;
    border-radius: 20px;
    border: 4px aqua;
    border-style: groove;
    margin: 45px;
    object-fit: cover;
}

hr {
    width: 30%;
    border-style: dotted none none;
    border-width: 15px;
    border-color: rgb(238, 237, 237);
    margin: 45px auto;
}

.centered {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.auth-buttons a {
    margin: 5px;
    margin-top: 15px;
    border-radius: 10%;
}